<html>
<head>

</head>
<body>
<form method="post">
    <fieldset>
        <legend>Log in</legend>
        Username: <input type="text" name="un" id="un"/>
        Password: <input type="text" name="pw" id="pw"/>
        <input type="submit" value="Submit" name="submit" id="submit" />
    </fieldset>
</form>
</body>
</html>
